<ion-item lines="none">
  <ion-label>
    <h4>{{order?.restaurant}}</h4>
    <p>{{order?.address}}</p>
    <ion-text>
      <p>R$: {{order?.totalPrice}}
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </p>
    </ion-text>
  </ion-label>
  <ion-note slot="end" color="dark">
    Entregue <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
  </ion-note>
</ion-item>

<ion-item>
  <ion-label>
    <ion-text color="dark">
      <p *ngFor="let item of order?.items">
        {{item.name}} x{{item.quantity}}
      </p>
    </ion-text>
    <p style="margin-top: 2%;">{{order?.date}}</p>
    <ion-row>
      <ion-col col="6">
        <ion-button fill="outline" expand="block">
          Pedir novamente
        </ion-button>
      </ion-col>
      <ion-col col="6">
        <ion-button fill="outline" expand="block" color="dark">
          Abrir reclamação
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-label>
</ion-item>
