<ion-item lines="none">
  <ion-thumbnail slot="start">
    <img [src]="restaurant?.cover ? restaurant.cover : 'assets/img/vazio.jpg'"/>
  </ion-thumbnail>
  <ion-label>
    <h4>{{restaurant?.name}}</h4>
    <ion-text color="medium">
      <p class="pStyle">{{getCuisine(restaurant?.cuisines)}}</p>
      <span><ion-icon name="star"></ion-icon>{{restaurant?.rating}}.</span>
      {{restaurant?.delivery_time}} mins,
       R$ {{restaurant?.price}} para 2 pessoas
    </ion-text>
  </ion-label>
</ion-item>